:root {
  --bg-col: #fefefe;
  --text-col: #000;

  --red-gradient: linear-gradient(95deg, #f0150d, #ff8c49);
  --red-gradient-light: linear-gradient(95deg, #f34028, #ff8a5c);
  --red-gradient-dark: linear-gradient(95deg, #d61711, #e98838);

  --yellow-gradient: linear-gradient(95deg, #f0bb0d, #ffe449);
  --yellow-gradient-light: linear-gradient(95deg, #f3d528, #f8e268);
  --yellow-gradient-dark: linear-gradient(95deg, #f5ca0c, #ffea74);

  --green-gradient: linear-gradient(95deg, #19bb21, #8cff49);
  --green-gradient-light: linear-gradient(95deg, #1cd325, #8ffd50);
  --green-gradient-dark: linear-gradient(95deg, #18a920, #83eb47);

  --blue-gradient: linear-gradient(95deg, #0d7ef0, #49b6ff);
  --blue-gradient-light: linear-gradient(95deg, #298df0, #5cbeff);
  --blue-gradient-dark: linear-gradient(95deg, #1173d6, #38a2e9);

  --purple-gradient: linear-gradient(95deg, #4c11ab, #9469f8);
  --purple-gradient-light: linear-gradient(95deg, #6c29e7, #a364f5);
  --purple-gradient-dark: linear-gradient(95deg, #450b7b, #9661eb);

  --navbar-text-col: #fff;

  --section-bg-col: linear-gradient(135deg, #fff, #f5f5f5, #f8f8f8);
  --section-text-col: #000;
  --section-border-col: #f5f4f4;
}

.html {
  scroll-behavior: smooth;
}

* {
  background-color: var(--bg-col);
}

h1 {
  padding: 2rem;
}

section {
  padding: 2rem;
  border: 2px solid var(--section-border-col);
  border-radius: 1.5rem;
  background: var(--section-bg-col);
  box-shadow: 1rem 0.4rem 1rem #dadada;
  margin-bottom: 1rem;
}

section * {
  padding: 0.5rem;
  background-color: var(--section-bg-col);
  color: var(--section-text-col);
}

p,
h1,
h2 {
  padding-left: 4rem;
}

samp {
  margin: 0.2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(95deg, #e8e8e8, #d3d3d3);
  border-radius: 1rem;
  box-shadow: inset 0 0 1rem #d0d0d0;
}

samp * {
  padding: 1rem;
  font-family: "Courier New", Courier, monospace;
  background: inherit;
}

img {
  border-radius: 1rem;
}

p {
  padding-top: 0;
  padding-bottom: 2rem;
  margin: 0;
}

h1,
h2 {
  padding-top: 3rem;
}

h5 {
  padding: none;
  margin: none;
}

details a {
  text-decoration: none;
}

button {
  padding: 0.9em;
  box-shadow: 0.4rem 0.4rem 0.6rem #e2e2e2;
  background: var(--blue-gradient);
  border: none;
  border-radius: 0.8rem;
}

button:hover {
  background: var(--blue-gradient-light);
}

button:active {
  background: var(--blue-gradient-dark);
}

details, summary {
  margin: 0;
  padding: none;
}

.tab-one {
  padding-left: 2rem;
  margin: 0%;
  padding-top: 0%;
}

.tab-two {
  padding-left: 4rem;
  margin: 0%;
  padding-top: 0%;
}

.contents {
  font-size: smaller;
}

.right {
  background: unset;
  float: right;
}

.left {
  float: left;
}

.navbar {
  position: sticky;
  margin-bottom: 1.5rem;
  top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 1rem 0.4rem 1rem #d1d1d1;
  border-radius: 6rem;
  padding: 1rem;
}

.navbar-title{
  font-weight: bolder;
  background-color: inherit;
  color: var(--navbar-text-col);
  padding: 0.5em;
  text-decoration: none;
}

.navbar * {
  padding: 0.5em;
  background-color: inherit;
  color: var(--navbar-text-col);
  text-decoration: none;
}

.large-header {
  padding-top: 16rem;
  padding-bottom: 9rem;
  padding-left: 2rem;
  height: 100%;
  margin-bottom: 1rem;
  border: none;
  border-radius: 1.5rem;
  box-shadow: 1rem 0.6rem 1rem #d1d1d1;
}

.medium-header {
  padding-top: 12rem;
  padding-bottom: 7rem;
  padding-left: 2rem;
  height: 100%;
  margin-bottom: 1rem;
  border: none;
  border-radius: 1.5rem;
  box-shadow: 1rem 0.6rem 1rem #d1d1d1;
}

.large-header *, .medium-header * {
  max-width: 70%;
  padding: 0;
  color: inherit;
  background: unset;
}

.green {
  color: white;
  background: var(--green-gradient-dark);
}

.yellow {
  color: white;
  background: var(--yellow-gradient-dark);
}

.red {
  color: white;
  background: var(--red-gradient-dark);
}

.blue {
  color: white;
  background: var(--blue-gradient-dark);
}

.purple {
  color: white;
  background: var(--purple-gradient-dark);
}

.paragraph {
  padding: 2rem;
}